:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-red);
  z-index: 10;
  transition: 0.5s;
}

.hide-menu {
  transform: translateY(-100%);
}

.nav-container {
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  justify-content: space-around;
  font-size: 2.2rem;
  margin-right: 2rem;
}

.menu-item {
  list-style: none;
}

.menu-link {
  display: block;
  padding: 2rem;
}

.menu-item:hover {
  background-color: var(--main-blue);
}

a {
  text-decoration: none;
  color: var(--main-white);
}

#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(65deg, #3a3d40 0%, #181719 100%);
}

.greeting {
  color: var(--main-white);
  font-size: 6rem;
}

.profession {
  color: var(--main-red);
  font-size: 3rem;
  font-weight: 100;
  font-style: italic;
  text-align: center;
}

#projects {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projects-section-header {
  font-size: 4.2rem;
  max-width: 720px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 6rem;
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  display: block;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: var(--main-red);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all i {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-header {
  font-size: 6rem;
}

.contact-subheader {
  font-style: italic;
}

.contact-links {
  margin-top: 4rem;
}

.profile-link {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.profile-link:hover {
  transform: translateY(8px);
}

footer {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2rem;
  border-top: 4px solid var(--main-red);
  background: var(--main-gray);
}

footer > p {
  margin: 2rem;
}

@media (max-width: 850px) {
  .nav-container {
    justify-content: center;
  }
  .contact-header {
    font-size: 4rem;
  }
  .profile-link {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  #contact {
    padding-top: 2rem;
    height: 100vh;
  }
  .greeting {
    font-size: 4rem;
  }
  .profession {
    font-size: 2rem;
  }
  .projects-section-header {
    font-size: 3rem;
  }
}

@media (max-width: 410px) {
  .contact-header {
    font-size: 3rem;
  }
  .menu {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 3rem;
  }
}
